@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
$primary-color: #2c3e50;
$secondary-color: #3498db;
$background-color: #93e4c1;
$accent-color: #e67e22;
$header-color: #1f6f78;
$highlight-color: #00ffb3;
$backgroundinput-color: #ffffff;
$slider-color: #4caf50;
$text-color: #555;
$green: #91d36b;
$orange: #fc9b1b;
$lightGrey: #999;
$grey: #444;
$darkGrey: #333;
$black: #000;
$pink: rgb(117, 109, 230);
$dark-pink: rgb(89, 81, 201);
$font: "Poppins", sans-serif;
html {
  scroll-behavior: smooth;
}
.bodyoverflow 
{
  overflow: hidden;
}
body {
  font-family: $font;
  background-color: $backgroundinput-color;
  color: $primary-color;
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/img2.png);
  background-size: cover;
  overflow: hidden;
  transition: background-image 0.5s ease;
  display: flex;
  background-color: $backgroundinput-color;
  position: relative;

  &__title {
    display: flex;
    position: absolute;
    z-index: 1;
    left: 20%;
    text-align: left;
    align-items: center;
    height: 100%;
    width: 80%;
    letter-spacing: 5px;

    h1 {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-weight: bold;
      color: azure;
      font-size: 60px;

      span {
        color: #007fff;
      }
    }
  }
}

.nav {
  width: 100%;
  height: 15vh;
  background-color: $backgroundinput-color;
  display: grid;
  grid-template-columns: 30% 70%;
  position: fixed;
  z-index: 9999;
  transition: all 0.3s;
  border-bottom: 1px solid rgb(12, 11, 11);

  &__brand {
    padding-left: 40px;
  }
  &__menu {
    &-list {
      display: flex;
      align-items: center;
      list-style-type: none;
    }
    &-item {
      padding: 5px;
    }
  }
  &__language {
    padding: 5px;
    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      &:hover .nav__language-dropdown {
        display: block;
      }
    }

    &-item {
      position: relative;
      list-style: none;
      width: 100%;
    }
    &-selector {
      color: #333;
      text-decoration: none;
      padding: 10px 20px;
      display: block;
      cursor: pointer;
      border: 3px solid $pink;
      border-radius: 4px;
      font-weight: 400;
      font-size: 15px;
    }
    &-arrow {
      margin-left: 15px;
      font-size: 12px;
    }
    &-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      z-index: 1;
      width: 100%;
      list-style: none;
      padding: 0;

      &-item {
        z-index: 1;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #000;
          text-decoration: none;
          padding: 15px 0;
          list-style: none;
          border: 1px solid $pink;
          font-size: 18px;

          img {
            margin-right: 8px;
            width: 20px;
            height: 20px;
          }

          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
  &__account {
    padding: 5px;

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      &:hover .nav__account-dropdown {
        display: block;
      }
    }

    &-item {
      position: relative;
      list-style: none;
      width: 100%;
    }

    &-selector {
      color: $darkGrey;
      text-decoration: none;
      padding: 10px 20px;
      display: block;
      cursor: pointer;
      border-radius: 4px;
      font-weight: 400;
      font-size: 15px;
      img {
        width:50px;
        height: 50px;
      }
    }

    &-arrow {
      margin-left: 15px;
      font-size: 20px;
    }

    &-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $backgroundinput-color;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      z-index: 1;
      width: 200px;
      list-style: none;
      padding: 0;

      &-item {
        z-index: 1;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $black;
          text-decoration: none;
          padding: 15px 0;
          list-style: none;
          border: 1px solid $pink;
          font-size: 18px;

          img {
            margin-right: 8px;
            width: 20px;
            height: 20px;
          }

          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;

    &-toggle {
      width: 55px;
      height: 55px;
      background: azure;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      display: none;

      span {
        margin: 0 auto;
        position: relative;

        &:before,
        &:after {
          position: absolute;
          content: "";
        }

        &,
        &:before,
        &:after {
          width: 30px;
          height: 6px;
          background-color: #010615;
          display: block;
        }

        &:before {
          margin-top: -12px;
        }

        &:after {
          margin-top: 12px;
        }
      }
    }
    &-item {
      margin-right: 50px;

      a {
        color: black;
        text-decoration: none;
        font-size: 22px;
        font-weight: 500;

        &:hover {
          border-bottom: 2px solid rgba(56, 11, 39, 0.267);
        }
      }
    }
  }

  &__logo {
    background-image: url(../img/img1.png);
    background-size: contain;
    background-position: center;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    cursor: pointer;
    border: 0px solid black;
    border-radius: 50%;
    overflow: hidden;
  }
}

@media screen and (max-width: 778px) {
  .header {
    height: 70vh;
    &__title {
      h1 {
        font-size: 38px;
      }
    }
  }
  .nav {
    &__logo {
      height: 120px;
      width: 120px;
      margin: 10px 0;
    }
  }
}

@media screen and (max-width: 998px) {
  .header {
    height: 70vh;
    &__title {
      h1 {
        font-size: 45px;
      }
    }
    .nav {
      display: grid;
      grid-template-columns: 30% 70%;

      &__menu {
        padding: 0;
        &-toggle {
          display: flex;
          position: absolute;
          right: 50px;
        }

        &-list {
          display: inline-block;
          width: 100%;
          height: 0;
          background: #fff;
          font-weight: 400;
          position: absolute;
          top: 13vh;
          left: -1px;
          transform: translate();
          box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
          transition: all 0.3s;
          padding: 0;

          &:hover {
            text-decoration: none;
            color: #ececec;
          }

          &.showMenu {
            height: 800px;
          }

          &.showMenu li.nav__menu-item {
            height: 50px;
            opacity: 1;
            visibility: visible;
          }
        }
        &-item {
          width: 100%;
          height: 50px;
          float: left;
          opacity: 0;
          visibility: hidden;
          margin-left: 0;
          transition: all 0.3s 0.1s;
          border-top: 2px #bdc3c7 solid;
          text-align: center;
          padding-top: 20px;

          &:first-child {
            margin-top: 10px;
          }
          a {
            color: black;
            font-size: 16px;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200.1px) {
  li.nav__menu-item {
    margin-right: 50px;
    &:last-child {
      position: absolute;
      right: 5%;
    }
  }
}

.temp-switch {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 40px;
  background-color: $backgroundinput-color;
  border-radius: 20px;
  padding: 5px;
  overflow: hidden;
  left: 25px;
  top: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.513);

  &__label {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgb(160, 157, 209);
    border-radius: 25px;

    .toright {
      transform: translateX(60px);
    }
  }
  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: $pink;
    border-radius: 20px;
    transition: transform 0.3s ease;
  }
  &__cels,
  &__fahr {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    text-align: center;
    color: #e9e3e3;
    font-weight: bold;

    &:first-of-type {
      left: 5px;
    }

    &:last-of-type {
      right: 5px;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .temp-switch__label .temp-switch__slider {
    transform: translateX(60px);
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(-5000%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.main-content {
  &__tables {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 90%;
    margin: 5vh auto;
    justify-content: center;
  }
  &__wrapper {
    width: 80%;
    margin: 5px auto;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.513);
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    &-city {
      &-name {
        margin: 0;
        font-weight: 600;
        font-size: 24px;
      }
    }
  }
  &__main-info {
    display: flex;
    align-items: center;
  }
  .main-info__input-container {
    &-text {
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 10px;
      width: 200px;
      max-width: 100%;
    }
  }
  &__middle {
    justify-content: space-evenly;
    &-temperature {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      font-size: 36px;
    }
    &-photo {
      width: auto;
      height: 120px;
      border-radius: 4px;
    }
  }
  &__bottom {
    border-top: 1px solid #ccc;
  }
  &__headings,
  &__weather-info {
    padding: 12px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    p {
      margin: 0;
    }
  }
  &__headings {
    p {
      font-weight: 600;
    }
  }
  &__weather-info {
    margin-bottom: 10px;
  }
  .main-content__table {
    background-color: $backgroundinput-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.513);
    text-align: center;
    padding: 5px;
    .table__title {
      &-text {
        text-align: center;
        font-size: 20px;
      }
    }
    .table__list,
    .table__list * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .table__list {
      list-style: none;
      counter-reset: cardCount;
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      --cardsGap: 1rem;
      gap: var(--cardsGap);
      padding-bottom: var(--cardsGap);
      overflow-x: hidden;
      &-item {
        counter-increment: cardCount;
        display: flex;
        color: #333;
        --labelOffset: 0.1rem;
        --arrowClipSize: 1rem;
        margin-top: var(--labelOffset);
        transform: translateX(100vw);
        &::before {
          content: counter(cardCount, decimal-leading-zero);
          background: white;
          color: var(--cardColor);
          font-size: 2em;
          font-weight: 700;
          transform: translateY(calc(-1 * var(--labelOffset)));
          margin-right: calc(-1 * var(--labelOffset));
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-inline: 0.5em;
        }
      }
      &-content {
        width: 100%;
        align-items: center;
        background-color: var(--cardColor);
        --inlinePadding: 0;
        --boxPadding: 0.5em;
        display: grid;
        padding: var(--boxPadding)
          calc(var(--inlinePadding) + var(--arrowClipSize)) var(--boxPadding)
          calc(var(--inlinePadding) + var(--labelOffset));
        grid-template-areas:
          "icon title"
          "icon text";
        gap: 0.25em 1em;
        clip-path: polygon(
          0 0,
          calc(100% - var(--arrowClipSize)) 0,
          100% 50%,
          calc(100% - var(--arrowClipSize)) 100%,
          calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
          0 calc(100% + var(--cardsGap))
        );
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: var(--labelOffset);
          height: var(--labelOffset);
          background: var(--cardColor);
          left: 0;
          bottom: 0;
          clip-path: polygon(0 0, 100% 0, 0 100%);
          filter: brightness(0.75);
        }
        &::after {
          content: "";
          position: absolute;
          height: var(--cardsGap);
          width: var(--cardsGap);
          background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.25),
            transparent 50%
          );
          left: 0;
          top: 100%;
        }
      }
      &-item {
        opacity: 0;
        transform: translateX(100%);
        transition:
          transform 0.5s,
          opacity 0.5s;
      }
      li.visible {
        overflow: hidden;
        opacity: 1;
        transform: translateX(0);
        animation: slideInFromRight 0.5s forwards;
      }
      [class^="table__list-heading"] {
        padding: 20px 25px;
      }
    }
  }
  .weather-data {
    padding: 5vh 0vh;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    &__element {
      width: 10%;
      background-color: $dark-pink;
      height: auto;
      border-radius: 10%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.513);
      transition:
        background-color 0.5s,
        box-shadow 0.5s;
      cursor: pointer;
      &:hover {
        background-color: $pink;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.659);
      }
    }
    &__header {
      text-align: center;
      [class^="weather-data__time"] {
        color: $backgroundinput-color;
        font-size: 18px;
      }
    }
    &__body {
      text-align: center;
      [class^="weather-data__image"] {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    &__footer {
      text-align: center;
      [class^="weather-data__temperature"] {
        color: $backgroundinput-color;
        font-size: 18px;
      }
    }
  }
  #map {
    padding: 5vh 0 0 0;
    width: 100%;
    height: 50vh;
  }
  .notification {
    position: fixed;
    top: 16%;
    left: 50%;
    padding: 25px;
    width:100%;
    max-width: 500px;
    max-height: 150px;
    z-index: 9998;
    display: none;
    visibility: hidden;
    opacity: 0;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    background-color: #04AA6D;
    transform: translateX(-50%);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border-radius: 5px;
  &__content {
    font-size: 18px;
    color: $backgroundinput-color;
  }
    &__button {
      background: none;
      border: none;
      font-size: 20px;
      color: $backgroundinput-color;
      cursor: pointer;
      transition: color 0.3s ease;
    }
  i {
    color: $backgroundinput-color;
  }
}
  .search__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: absolute;
    left: 10%;
    padding: 0;

    &-input {
      font-family: $font;
      width: 250px;
      height: 50px;
      z-index: 9998;
      color: black;
      border-radius: 5px;
      border: 2px solid $pink;
    }

    &-button, &-button--remove {
      font-family: $font; 
      z-index: 9998;
      padding: 10px 50px;
      background-color: $backgroundinput-color;
      border: 2px solid $pink;
      font-weight: 500;
      color: black;
      border-radius: 5px;
      &:hover {
        background-color: #f3efef;
        cursor: pointer;
        
      }
    }
  }
  .map__warning {
    display: flex;
    justify-content: center;
    height: 50px;
    width: auto;
    opacity: 0;
    &-text {
      font-size: 22px;
      color: red;
      visibility: visible;
      font-weight: 600;
    }
  }

  .map-scroll-active {
    pointer-events: all;
  }
  .map-scroll-inactive {
    pointer-events: all;
  }
}
.contact {
  position: relative;
  background-image: url(../img/img2.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
  color: white;
  &__container {
    display: flex;
    justify-content: space-evenly;
    transition:
      background-color 0.5s,
      box-shadow 0.5s;
    div > p {
      display: flex;
      justify-content: center;
    }
    div > i {
      padding: 10px;
      font-size: 22px;
    }
    &-social-icon:hover {
      color: $pink;
      cursor: pointer;
    }
    &-title {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 22px;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    font-size: 25px;
  }
  &__container-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 9, 27, 0.6);
    z-index: -5;
  }
}

.modal, .modal__error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
  &__error-text {
    font-size: 16px;
    color: red;
  }
  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__window {
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: slide-down 0.3s ease-out;
  }

  &__header {
    padding: 16px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0d0d0;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    color: #000;
  }

  &__close-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #333;
    }

    i {
      pointer-events: none;
    }
  }

  &__content {
    padding: 16px;
    &-text {
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__form-group {
    display: flex;
    flex-direction: column;

    &--actions {
      margin-top: 16px;
      text-align: right;
    }
  }

  &__label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
  }
  &__footer {
    padding: 32px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    a {
      text-decoration: none;
      color: $backgroundinput-color;
      font-weight: bold;
    }
    &--register{
      background-color: rgb(69, 59, 211);
    }
    &--login {
      background-color: rgb(201, 27, 27);
    }
  }

  &__input {
    padding: 8px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    font-size: 16px;
    color: #000;

    &:focus {
      outline: none;
      border-color: #000;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    }
  }

  &__submit-btn {
    padding: 8px 16px;
    background-color: rgba(89, 81, 201, 1);
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(69, 59, 211);
    }
  }
}
/* Map control panel*/
.info {
  background: white;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 1.5;
  font-family: $font;
  font-size: 16px;

  h4 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
  }

  b {
    font-weight: bold;
    color: #2c3e50;
    font-size: 16px;
  }

  .empty {
    font-style: $font;
    font-size: 14px;
    color: #888;
  }
}
/* Map legend */
.legend {
  padding: 20px;
  font: 14px $font;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 8px;
  color: $black;
}

.legend span {
  padding: 4px 0;
  position: relative;
  bottom: 3px;
  color: #555555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

@keyframes slide-down {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes modal-appear {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media only screen and (max-width: 600px) {
  .main-content {
    &__tables {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      row-gap: 20px;
    }
    &__wrapper {
      width: 90%;
      margin: 5px auto;
      font-size: 16px;
    }
    &__top {
      font-size: 10px;
    }
    &__table {
      margin: 5px auto;
      padding: 20px;
      width: 90%;
      font-size: 15px;
    }
    .search__container {
      left: 15%;
      &-input {
        width: 125px;
        height: 40px;
      }
  
      &-button {
        padding: 8px 20px;
      }
    }
    .weather-data {
      flex-wrap: wrap;
      &__element {
        margin: 10px 0;
        width: 30%;
      }
    }
  }
  .main-info__input-container {
    &-text {
      padding: 10px;
      font-size: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin: 10px;
      width: 70px;
      max-width: 100%;
    }
  }
  .contact {
    &__container {
      flex-direction: column;
      align-items: center;

      &-social-icon {
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .main-content {
    &__tables {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      row-gap: 20px;
    }
    &__wrapper {
      padding: 3px;
      margin: 5px auto;
      font-size: 12px;
    }

    &__top {
      font-size: 10px;
      &-city-name {
        font-size: 14px;
      }
    }
    &__local-time {
      font-size: 14px;
    }

    &__table {
      margin: 5px auto;
      padding: 3px;
      .table__title-text {
        font-size: 15px;
      }
    }

    .main-info__input-container {
      &-text {
        font-size: 12px;
        width: 120px;
        padding: 5px;
      }
    }
  }
}
