$primary-color: #2c3e50;
$secondary-color: #3498db;
$background-color: #93e4c1;
$accent-color: #e67e22;
$header-color: #1f6f78;
$highlight-color: #00ffb3;
$backgroundinput-color: #ffffff;
$slider-color: #4caf50;
$text-color: #555;
$green: #91d36b;
$orange: #fc9b1b;
$lightGrey: #999;
$grey: #444;
$darkGrey: #333;
$black: #000;
$pink: rgb(117, 109, 230);
$dark-pink: rgb(89, 81, 201);
$font: "Poppins", sans-serif;